<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search member</title>
</head>
<body>
    <h2>Search member:</h2>
    <form action="" method="get">
       {{ form }} 
   <!-- <input type="" method="get">  -->
   <!-- <input type="text" name="query"> --> <!-- This line only for wothout Django forms -->
    <button type="submit">search</button>
    </form>
   <ul>
        {% for member in members %}   <!--members is last object key-->
            <li>{{member.firstname}} {{member.lastname}} {{member.age}} </li>  <!-- We get three information-->
        {% endfor %}
    </ul> 
</body>
</html>