<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>File upload</title>
</head>
<body>
   <form action=" " method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Upload</button>
   </form>
   <ul>
      {% for doc in documents %}
      <li>{{ doc.title }} <a href="{{ doc.upload_file.url }}" target="_blank" rel="noopener noreferrer">View Image</a></li>

      {% endfor %}
   </ul>
</body>
</html>
